/*###############################################*/
/*###############################################*/
/* Extra small devices (phones, less than 768px) */
/*###############################################*/
/*###############################################*/


/*-------all the document-------*/
*
{
	font-family: arial;
	font-size: 0.975em;
}


/*-------only the header-------*/
ul
{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
}

a:link, a:visited
{
	color:#636262;
	text-decoration: none;

}

a:hover
{
	color:black;
}


/*------only the body-------*/
.logo
{
    text-align: center;
    margin-top: 10%;
}

.SearchBarKit
{
	text-align: center;
}

#searchbar
{
	text-align: center;
	margin-bottom: 5%;
	width: 70%;
}

.button
{
	display:inline-block;
	border: none;
	background-color: #e4e4e4;
	padding: 1%;
	color:#636262;


}

/*------only the footer------*/


 footer
 {
 	position: absolute;
 	bottom: 0;
 	left: 0;
 	right: 0;
 	background-color: #f2f2f2;
 	border-top: solid 1px #e4e4e4;
 }

.LeftFooter, .RightFooter
{
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}




/*###############################################*/
/*###############################################*/
/* Small devices (tablets, 768px and up) */
/*###############################################*/
/*###############################################*/
@media (min-width: 768px) {



/*-------------same as mobile-----------------*/

}


/*###############################################*/
/*###############################################*/
/* Medium devices (desktops, 980px and up) */
/*###############################################*/
/*###############################################*/
@media (min-width: 980px) {


footer
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


}


/*###############################################*/
/*###############################################*/
/* Large devices (large desktops, 1200px and up) */
/*###############################################*/
/*###############################################*/
@media (min-width: 1200px) {



}